:root {
  //************* Background Color Variables *****************//
  --primaryBackground: #cccccc;
  --headerBackground: #f2f2f2;
  --asideBackground: #282c34;

  //*************** Font Color Variables *******************//@at-root
  --primaryText: #303133;
  --regularText: #606266;
  --secundaryText: #909399;
  --placeholderText: #C0C4CC;

  //************** Border Color **************************//
  --baseBorder: #DCDFE6;
  --lightBorder: #E4E7ED;

}
