.el-header {
  background-color: var(--headerBackground);
  text-align: center;
}

.header_title {
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  font-family: "Helvetica";
}

.header_logo {
  width: 650px;
  margin-top: 10px; 
  margin-left: 150px;
}
